---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your nonprofits mission with our <br />
      <span class="text-accent dark:text-white highlight"> IT Services</span>
    </Fragment>

    <Fragment slot="subtitle">
      IT for Change is is commited to changing the way the nonprofits think about IT services. We specalise in helping nonprofits implement Microsft 365. 

    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '1' },
      { title: 'Employees', amount: '2' },
      { title: 'Nonprofits helped', amount: '3' },
      { title: 'Awards', amount: '1' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Services"
    subtitle="We specalize in helping nonprofits take advantage of Microsofts Tech for Social Impact program." 
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Education',
        description:
          'We offer training for Office products and more.',
        icon: 'tabler:template',
      },
      {
        title: 'Office 365 email',
        description:
          'As a 501c3 orginization your email and more are free with your Microsoft grant. Increase your orginizations seurity by transition to personalised corporate emails for each employee.',
        icon: 'tabler:template',
      },
      {
        title: 'Work from anywhere',
        description:
          'Migrate your documents to the cloud backed by OneDrive and Sharepoint and access or share your files securly from anywhere.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Manage a store front or need to accept donations? We can help find the right solutions to accelerate your storefront and begin acepting donations with the solution that best suits your unique needs.',
        icon: 'tabler:template',
      },
      {
        title: 'Client Management',
        description:
          'If you are still working with paper records we can help your orginization find the right solution to streamline client care.',
        icon: 'tabler:template',
      },
      {
        title: 'Churches',
        description:
          'Connect with your congegration in real time, we specalise in Church Center deployments, enabeling donations, groups, events, callendars and more avaible on the web and app stores.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Having a single identity across all of your web identities can help keep your orinization safe. One clear identiy will ensure people searching for you know they are int he right place.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
          'If your nonprofit works with medical data, your orginization must pay special attention to keeping that information secure. We have experience working in enterprise healthcare IT, and have supported the nations busieset ER.',
        icon: 'tabler:template',
      },
      {
        title: 'Services Galore',
        description:
          'We may not have something on this page that describes your specific need, but were still here to help. As long as your orginization is a 501c3 or wishes to help scoceity we can help guide you on your IT journey. 501c3 orginizations are elegible for many free services, if you are not a 501c3, licensing costs will be significantly higher.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="We exist to empower nonprofits with technology solutions that enhance their impact. Provide innovative ideas to address community needs effectively. Our goal is to foster collaboration, inclusivity, and community engagement to help you be your best."
    items={[
      {
        title: 'Quality Products',
        description:
          'We specalise in Microsoft 365 deployents and typically deploy a small set of products we have verified for there security and easy of use. At this point we only support the prducts we are familar with to provide the best service possible. If you have a product we dont support we can see if it make sence to migrate or help you find a services partner cabible of the support you need.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'At IT for Change your mission is our mission. We will never sell you a product you dont need.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'United States',
        description: 'Central Florida',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: 'Adelaide',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
