---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';


const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your nonprofits mission with our <br />
      <span class="text-accent dark:text-white highlight"> IT Services</span>
    </Fragment>

    <Fragment slot="subtitle">
      IT for Change is committed to changing the way the nonprofits think about IT services. We specialize in helping nonprofits implement Microsoft 365. 

    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '1' },
      { title: 'Employees', amount: '2' },
      { title: 'Nonprofits helped', amount: '3' },
      { title: 'Awards', amount: '1' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Services"
    subtitle="We specialize in helping nonprofits take advantage of Microsoft's Tech for Social Impact program."  
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Education',
        description:
          'We offer training for Office products and more.',
        icon: 'tabler:template',
      },
      {
        title: 'Office 365 email',
        description:
          'As a 501c3 organization your email and more are free with your Microsoft grant. Increase your organizations security by transition to personalized corporate emails for each employee.',
        icon: 'tabler:template',
      },
      {
        title: 'Work from anywhere',
        description:
          'Migrate your documents to the cloud backed by OneDrive and SharePoint and access or share your files securely from anywhere.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Manage a store front or need to accept donations? We can help find the right solutions to accelerate your storefront and begin accepting donations with the solution that best suits your unique needs.',
        icon: 'tabler:template',
      },
      {
        title: 'Client Management',
        description:
          'If you are still working with paper records we can help your organization find the right solution to streamline client care.',
        icon: 'tabler:template',
      },
      {
        title: 'Churches',
        description:
          'Connect with your congregation in real time, we specialize in Church Center deployments, enabling donations, groups, events, calendars and more available on the web and app stores.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Having a single identity across all your web identities can help keep your organization safe. One clear identity will ensure people searching for you know they are int he right place.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
        "If your nonprofit works with medical data, your organization must pay special attention to keeping that information secure. We have experience working in enterprise healthcare, and have supported the nation's busiest ER.",
        icon: 'tabler:template',
      },
      {
        title: 'Services Galore',
        description:
        'We may not have something on this page that describes your specific need, but we are still here to help. If your organization is a 501c3 or your mission is to help society, we can help guide you on your IT journey. 501c3 organization are eligible for many free services, if you are not a registered 501c3, licensing costs will be significantly higher.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="We exist to empower nonprofits with technology solutions that enhance their impact. Provide innovative ideas to address community needs effectively. Our goal is to foster collaboration, inclusivity, and community engagement to help you be your best."
    items={[
      {
        title: 'Quality Products',
        description:
          'We specialize in Microsoft 365 deployments, and deploy a seamless login experience, verified for security and ease of use. We currently only support Microsoft cloud deployments.',
      },
      {
        title: 'Constant Improvement',
        description:
          'We will never stop learning. In the information technology landscape, change is inevitable. We stive to analyze the impact of new technologies and implement new ideas that drive positive change to your mission.',
      },
      {
        title: 'Ethical Practices',
        description:
          "At IT for Change your mission is our mission. We hope to introduce you to an amazing experience of simple proposals and realistic expectations.",
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="?"
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'A mighty team of people who care in America and Australia. We provide impactful change no matter the distance.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:  'Our clients are happy to help, let us put you in touch with an organization we have transformed with Microsoft 365 business collaboration tools.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Commitment to help those in need',
        description:  "If you are desperately in need of IT support and unable to afford our services, don't be afraid to reach out and tell us about your mission and need. There are many options to help secure funding you may not be aware of.",
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'United States',
        description: 'Central Florida',
      },
      {
        title: 'Australia',
        description: 'Sydney',
      },
      {
        title: 'Australia',
        description: 'Adelaide',
      },
      {
        title: 'United States',
        description: 'Colorado',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Email us',
        description:
          'Justin.Bivens@itforchange.org',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          '863-546-8324',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
